@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.App-header {
  background-color: #222;
  height: 7vh;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
}

.headerContent li{
  font-size: 1em;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.headerContent{
  text-align: left;
  margin: 0;
  position: relative;
  line-height: 0;
  top: 50%;
}

.body{
  margin-top: 7vh;
  width: 100vw;
  height: 93vh;
  position: fixed;
  overflow: hidden;
  background-color: rgb(237, 237, 237);
}
.window{
  width: 30vw;
  height: auto;
  top: 5%;
  bottom: 5%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 2%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow-x: hidden;
  overflow-x: scroll;
  text-align: left;
  color: rgb(62, 62, 62);
  border-radius: 10px;
}

.window-content{
  font-size: 1em;
  margin: 20px;
}

.search-wrapper{
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #456173;
  padding-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.15);
}
.searchbar{
  border-bottom: solid 2px #11BFAE;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 1);
  width: 70%;
  margin-top: 20px;
  margin-right: 10px;
  padding: 5px;
  display: inline;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  height: 20px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
textarea, input, button { outline: none; }

.search-button{
  padding: 5px 10px 5px 10px;
  margin-top: 20px;
  display: inline;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.7em;
  width: 10%;
  background-color: #11BFAE;
  color: white;
  cursor: pointer;
  user-select: none;
  height: 20px;
}

.bg{
  color:rgb(200, 200, 200);
  text-align: justify;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
